@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Admin"))
        {
            <p> Hello, @context.User.Identity.Name!</p>
            <a href="#" @onclick="BeginSignOut">Uitloggen</a>
        }
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Inloggen als begeleider</a>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        @if (!context.User.IsInRole("Admin"))
        {
        <p> Hello, @context.User.Identity.Name!</p> 
    <a href="#" @onclick="BeginSignOut">Uitloggen</a>
}
    
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Inloggen als jongere</a>
    </NotAuthorized>
</AuthorizeView>
@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}